html{
    background: #e3e3e3;
}

body {
    font-family: sans-serif;
    color: #242424;
    border-top: 10px solid #242424;
    background: #fff;
}

nav {
    background-color: #fff;
    padding: 10px;
    text-align: center;
    width: 100%;
    position: sticky;
    top: 0px;
}


img {
    height: auto;
    width: auto;
    max-width: 350px;
    max-height: 200px;
    border-radius: 10px;
}