body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 100vh;
    background-color: #f1f1f1;
}

img.resize {
    height: auto;
    width: auto;
    max-width: 200px;
    max-height: 200px;
}